*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 100vh;
}
.row>div:nth-child(1){
    height: 80vh;
    display: flex;
    justify-content: center;
}
.row>div:nth-child(2){
    height: 80vh;
}
.leftside{
    background-color: #6E85B7;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 65%;
    position: relative;
    box-shadow: 10px 10px 10px;
}

.leftside #picture{
    width:213px;
    height: 213px;
    border-radius: 50%;
    position: absolute;
    top: -20%;
    left: 20%;
    border: solid 2px white;
}
.leftside h2{
    color: white;
    padding-top: 40%;
    font-family: "Sarabun";
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
.leftside p{
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 1rem;
    text-align: center;
    word-wrap:break-word;
    text-justify: inter-word;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 600;
    padding-top: 5%;
}
.icons{
    text-align: center;
    padding-top: 15%;
    word-spacing: 10px;
}
.icons img{
    width: 10%;
    height: 20%;
}


/*------- RightSide -----------*/

.rightside{
    background-color: white;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 90%;
    height: 85%;
    position: relative;
    transform: translateX(150%);
}
.rightside h2{
    padding-top: 15%;
    font-family: "Sarabun";
    letter-spacing: 1px;
    font-size: 3.5rem;
    line-height: 1px;
    padding-bottom: 10%;
    text-justify: inter-word;
    
}
.rightside p{
    font-family: "Roboto",sans-serif;
    font-size: medium;
}
.telephone{
    width: 100%;
    position: relative;
    margin-top: 10%;
}

.rightside a{
    letter-spacing: 1px;
    color: black;
    font-weight: bold;
    font-size: large;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid 3px #6E85B7;
    border-radius: 60px;
}
.rightside a:hover{
    color: white;
    background-color: black;
    border: none;
    text-decoration: none;
}

.rightside{
    animation: animate2 1s ease forwards;
}
@keyframes animate2 {
    100%{
        transform: translateX(0%);
    }
}
/*--- Media Queries ------*/
@media (max-width : 900px) {
    .leftside{
        width: 100%;
        min-height: 58vh;
    }
    .leftside #picture{
        left: 22%;
    }
    .row>div:nth-child(1){
        padding: 0;
        height: 60vh;
    }
    .icons{
        padding-top: 5%;
    }
    .rightside{
        margin-left: 5%;
    }
    .rightside h2{
        text-align: center;
    }
    .rightside p{
        text-align: center;
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .telephone{
        padding-top: 10%;
        text-align: center;
    }
}

/* Importing Fonts */
@font-face {
    font-family: "encanto";
    src: url(../fonts/encanto.ttf);
}
@font-face {
    font-family: "'hallo_sans', Helvetica, Arial, sans-serif";
    src: url(../fonts/hallo_sans_light-webfont.woff2);
}
@font-face {
    font-family: "Sarabun";
    src: url(../fonts/Sarabun-Bold.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Light.ttf);
}