*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#heading{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #6E85B7;
    padding-bottom: 100px;
}
#heading .row{
    padding-top: 30px;
}

#heading .row:hover #circle1 img{
    transform: rotate(675deg);
    transition: 2s ease-in-out ;
}

#heading .row:hover #circle2 img{
    transform: rotate(-585deg);
    transition: 2s ease-in-out ;
}

#heading h1{
    font-size: 10vh;
    font-family: "encanto";
    text-align: center;
    color: white;
    font-weight: 600;
}

#circle1{
    font-size: 10px;
    text-align: left;
}

#circle2{
    text-align: right;
    position: relative;
}

#circle1 img, #circle2 img{
    border-radius: 95%;
    transform: rotate(-765deg);
}
#circle2 img{
    position:absolute;
    right: 30px;
    transform: rotate(855deg);
}

body{
    background-image: linear-gradient(to right,#6E85B7,#6E85B7);
}

#heading h1
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #F8F9D7 0%,
    #fff 29%,
    #fff 67%,
    #6E85B7 100%
  );
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


/* ----------- Main Section ------------*/
.main .row {
    min-height: 80vh;

}
.row .col-lg-6:nth-child(1){
    display: flex;
    justify-content: center;
}
.row .col-lg-6:nth-child(2){
    display: flex;
    justify-content: center;
    position: relative;
}
.waves{
    position: absolute;
    bottom: 0px;
}

.photoContainer{
    background-image: url("../images/guru-prasad-own.jpeg");
    background-size: cover;
    width: 40%;
    
    height: 60%;
    border-radius: 30px;
    border-left: solid  #f1c253 6px;
    border-bottom: solid #f1c253 6px;
    z-index: -100;
    position: relative;
}

.text{
    color: #F8F9D7;
    font-weight: 600;
    background-image: linear-gradient(to top,#F8F9D7,#6E85B7);
    padding:30px 30px 30px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:2rem;
    width: 80%;
    height: 60%;
    border-radius: 30px;
    position: absolute;
    left: -50px;
    overflow: scroll;

    border-left: solid  #f1c253 6px;
    border-bottom: solid #f1c253 6px;
    border-top: solid #f1c253 6px;
    border-right:solid #f1c253 6px;
    text-align: center;
    transition: 0.2s ease;
    transform-style: preserve-3d;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.front div{
    text-align: center;
    font-size: 20px;
    color: #6E85B7;
    
}
.back{
    color: black;
    transform: rotateY(180deg);
    display: none;
}
.back>div{
    color: #F8F9D7;
}

#underline{
    background-color: #F8F9D7;
    height: 6px;
    width: 0%;
}


.text:active{
     transform: rotateY(180deg);
}
.text:active .front{
    display: none;
}
.text:active .back{
    display: block ;
}
.text:active #underline{
    animation: animate2 2s ease-in-out forwards;
}
@keyframes animate2 {
    100%{
        width: 100%;
    }
}
html {
    overflow: scroll;
    overflow-x: hidden;
    }
    ::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space /
    background: transparent; / optional: just make scrollbar invisible /
    
    / optional: show position indicator in red */
    }
    ::-webkit-scrollbar-thumb {
    background: #FF0000;
    }

.line{
    position: absolute;
    top: 20%;
    height: 2px;
    width:37%;
    background-color: white;
    animation: animate 2s ease-in-out forwards;
}
@keyframes animate {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }
}
p{
    padding-top: 10px;
    color: black;
    font-family: "'hallo_sans', Helvetica, Arial, sans-serif";
    font-weight: 100;
    font-size: large;
    text-align: justify;
    text-justify: inter-word;
}
#pos1{
    position: absolute;
    left:23%;
    top: -5%;
}
#pos1 img{
    transform: rotate(-45deg);
}
#pos2{
    position: absolute;
    bottom: 34%;
    right: 25%;
}
#pos2 img{
    transform: rotate(135deg);
}
#firstCol:hover #pos2 img{
    transform: rotate(855deg);
    transition: 2s ease-in;
}
#firstCol:hover #pos1 img{
    transform: rotate(-765deg);
    transition: 2s ease-in;
}
/*--*/

/* ------------ Media Queries -------------- */
@media (max-width: 900px) {
    #image1{
        display: none;
    }
    .photoContainer{
        height: 20rem;
        width: 15rem;
    }
    .text{
        position: absolute;
        left: auto;
        right: auto;
        margin-top: 4rem;
        height: 35rem;
        text-align: center;
    }
    #secondcol{
        height:50rem;
    }
    .front{
        font-size:1.3rem;
    }
    .line{
        top: 11%;
        width: 36%;
    }
    #pos1{
        left: 9%;
        top: -10%;
    }
    #pos2{
        bottom: -8%;
        right: 10%
    }
}



/* Importing Fonts */
@font-face {
    font-family: "encanto";
    src: url(fonts/encanto.ttf);
}
@font-face {
    font-family: "'hallo_sans', Helvetica, Arial, sans-serif";
    src: url(fonts/hallo_sans_light-webfont.woff2);
}